<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharer</title>

    <script type="text/javascript" src="https://livejs.com/live.js"></script>
</head>
<body>
    <div class="background">
        <div class="topbar">
            <div class="title txt">
                Dropper
            </div>
            <div class="subtitle txt">Simple File Sharing</div>
        </div>
    
    <div class="loginWindow">

    </div>

    <div class="content">

    </div>
    





    </div>
    <link rel="stylesheet" href="static/css/index.css">
</body>
</html>